@model EcommerceProject.Models.Category
@{
	ViewData["Title"] = "Cập nhật";
	Layout = null;
}

<div class="card-header">
	<h3 class="card-title">Cập nhật danh mục</h3>
</div>
<div class="card-body p-0">
	<div class="bs-stepper linear">
		<div class="bs-stepper-content">
			@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true)
				@Html.HiddenFor(x => x.Id)
				<div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
					<div class="form-group">
						<label>Nhập danh mục</label>
						@Html.TextBoxFor(x => x.Title,new{@class = "form-control" , @placeholder = "Tên danh mục mới"})
						@Html.ValidationMessageFor(x => x.Title , null , new{@class = "text-danger"})
					</div>
					<button class="btn btn-primary">Cập nhật</button>
					<button class="btn btn-warning closeFormButton">Hủy</button>
				</div>
			}

		</div>
	</div>
</div>





